{% extends 'myApp/layout.html' %}

{% load static %} 

{% block body %}

    <style>
        body {
            background-image: url("{% static 'myApp/background3.jpg' %}?v=2");
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
            background-position: center;
        }
        #scale-wrapper {
            transform: scale(0.75);
            transform-origin: top left;
            width: 133.33%; /* 100 / 0.75 to compensate for scaling */
        }

    </style>

<div >
    {% if user.is_authenticated %}

        <div class="container">
            <h1>CookGPT</h1>
            <a id="design" class="btn" href="{% url 'designMeal' %}">Design Your Meal</a>
        </div>

    {% else %}

        <div class="container">
            <h1>Welcome to CookGPT</h1>
            <p style="font-size: 1.3em; font-weight: 400;">Please log in or register to start designing your meals.</p>
        </div>

    {% endif %}

</div>
{% endblock %}