{% extends 'myApp/layout.html' %}

{% load static %} 

{% block body %}

    <style>
        body {
            background-image: url("{% static 'myApp/background3.jpg' %}?v=2");
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
            background-position: center;
        }
    </style>


    <div class="container">
        <h1>CookGPT</h1>
        <a id="design" class="btn" href="{% url 'designMeal' %}">Design Your Meal</a>
    </div>

{% endblock %}